.videoDescription {
    margin-left: 20px;
}

.video {
    margin-left: 20px;
    margin-top: 20px;
}

.videoInfo {
    margin-left: 20px;
}

.row {
    margin-top: 10px !important;
    width: 100%;
    flex-grow: 1;
}

.col1 {
    width: 80%;
    height: 100%;
}

.video-feed {
    right: 0 !important;
    width: 20%;
    height: 100%;
}

.feed-title {
    text-align: center;
}

.videoTitle {
    text-align: center;
}
